<div class="header">
  <h3 class="text-muted"><a href="#/">Tachikoma.io</a></h3>
</div>
<div>
  Do you want to keep an application updated? Tachikoma.io solves your problem!
</div>

<div>
  <a href="http://eepurl.com/QddJv" class="btn btn-primary btn-lg active" role="button">Join wait queue right now!</a>
</div>

<div>
  We'll never spam you.
</div>

<div>
  <ul ng-social-buttons
      data-url="'http://tachikoma.io'"
      data-title="'Tachikoma.io: Keep your application updated'"
      data-description="'Do you want to use your application long term? A recurring update dependencies helps you. Tachikoma.io solves your problem!'"
      data-image="'https://f.cloud.github.com/assets/75448/2427127/af1ab0be-abd6-11e3-8345-03ff61d20ec0.png'">
    <li>Share:</li>
    <li class="ng-social-facebook">Facebook</li>
    <li class="ng-social-google-plus">Google+</li>
    <li class="ng-social-twitter">Twitter</li>
  </ul>
</div>

<div class="footer">
  <p>♥ from the Tachikoma.io <a href="#/team">team</a></p>
</div>
