<div class="header">
  <h3 class="text-muted"><a href="#/">Tachikoma.io</a></h3>
</div>

  <h4>Meet the Tachikoma.io Team</h4>

  <p>
    Kenichi "Sanemat" Murahashi<br />
    Founder

    <ul>
      <li>sanemat@tachikoma.io</li>
      <li><a href="https://github.com/sanemat">https://github.com/sanemat</a></li>
      <li><a href="https://twitter.com/sanemat">https://twitter.com/sanemat</a></li>
    </ul>
  </p>

<div class="footer">
  <p>♥ from the Tachikoma.io <a href="#/team">team</a></p>
</div>
